.not-found-container {
    text-align: center;
    padding: 100px 20px;
    background-color: black;
    color: red;
    height: 100vh;
  }
  
  .not-found-title {
    font-size: 80px;
    margin-bottom: 10px;
    
  }
  
  .not-found-message {
    font-size: 24px;
    margin-bottom: 30px;
    color: white;

  }
  
  .not-found-link {
    font-size: 18px;
    color: white;
    background: red;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  