
 .favoritos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    padding: 3%;
    background-color: #ffffff;
    min-height: 100vh;
  }
  .titulo-favoritos {
    width: 100%;
    text-align: center;
    font-size: 200%;
    margin-bottom: 5%;
    color: #b70a0a;

  }

  
.cargarFav{
    color: rgb(0, 0, 0);
    font-size: 19px;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
    justify-content: center;
}


@media (max-width: 560px) {
  .cargarFav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}