
 .favoritos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    padding: 3%;
    background-color: #ffffff;
    min-height: 100vh;
  }
  .titulo-favoritos {
    width: 100%;
    text-align: center;
    font-size: 200%;
    margin-bottom: 5%;
    color: #b70a0a;

  }
  
  /* esto de abajo o lo pongo en el de pelis mas pop o lo puedo sacar, ver para unificar esteticaa */
  /* .favorito-card {
    background-color: #4a4a4a;
    width: 22%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .favorito-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .favorito-card h4 {
    margin: 10px 0 5px 0;
    font-size: 110%;
    font-weight: bold;
    color: #fff;
  }
  
  .favorito-boton {
    margin-top: 10px;
    padding: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  } 
   */
